PROXY_AGENTS_BASE_URL=https://agents.ieti.site/v1
PROXY_AGENTS_KEY=ieti_sk_n4otSW8Nz1sWg_VIMEnoVLq-ntjOCRyk7oTA0x59ozs

# https://build.nvidia.com
NVIDIA_API_KEY=""

# https://opencode.ai/zen
OPENCODE_ZEN_API_KEY="sk-..."

# https://agents.ieti.site
IETI_AGENT_KEY="ieti_sk_..."

# GitHub
GITHUB_PERSONAL_ACCESS_TOKEN="github_pat_..."