PORT=3000
OPENAI_TIMEOUT_MS=900000
MAX_TOKENS=700
TEMPERATURE=0

# Crida a IETI agents
OPENAI_BASE_URL="https://agents.ieti.site/v1/chat/completions"
OPENAI_MODEL="active-model"
OPENAI_API_KEY="your-api-key-here"

# Crida a Ollama
# OPENAI_BASE_URL="http://127.0.0.1:11434/v1/chat/completions"
# OPENAI_MODEL="granite4.1:3b"
# OPENAI_API_KEY=""