# https://build.nvidia.com
NVIDIA_API_KEY=""

# https://opencode.ai/zen
OPENCODE_ZEN_API_KEY=""

# https://agents.ieti.site
IETI_AGENT_KEY=""

# http://www.cursagents.duckdns.org
DUCKDNS_AGENT_KEY=""
