
# https://opencode.ai/zen
OPENCODE_ZEN_API_KEY=sk-Hw...Ix

# https://github.com
GITHUB_PERSONAL_ACCESS_TOKEN=github_pat_11...zT

# https://agents.ieti.site
PROXY_AGENTS_BASE_URL=https://agents.ieti.site/v1
PROXY_AGENTS_KEY=ieti_sk_n4...zs
